# Practice

# 1. Python Flow Control

## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [4]:
lst=[]
for n in range(1500,2701):
    if n%7 == 0 and n%5 == 0:
        lst.append(n)
print(lst)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [9]:
import random
x = random.randint(1, 9)
while True:
    n = int(input("enter a guess : "))
    if n == x:
        break
    else:
        print ("Try Again")
print(f"Congratultions ^^ {x}")

enter a guess : 7
Try Again
enter a guess : 8
Congratultions ^^ 8

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

## 4. Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [24]:
for i in range(1, 6):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(4, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [27]:
rows = 7

for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    print("* " * i)

for i in range(rows - 1, 0, -1):
    print(" " * (rows - i), end="")
    print("* " * i)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

## 5. Write a Python program that accepts a word from the user and reverses it.

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [30]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print(f"Number of even numbers : {even_count}")
print(f"Number of odd numbers : {odd_count}")

Number of even numbers : 4
Number of odd numbers : 5

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .
for example  Expected Output:


```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [34]:
#name = "Islam"
height = 7
width = 5

for row in range(height):
    for col in range(width):

        if row == 0 or row == height - 1 or col == width // 2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
  *
  *
  *
  *
  *
*****

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:


``
1
22
333
4444
55555
666666
7777777
88888888
999999999
``

In [36]:
for i in range(1, 10):
    print(str(i) * i , end =" ")

1 22 333 4444 55555 666666 7777777 88888888 999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [2]:
number = int(input("Input a number: "))

for i in range(1, 11):
  print(number, "x", i, "=", number * i)

Input a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [38]:
while True:
    n1 = int(input("Enter a first number: "))
    if n1 == 0:
        break
    n2 = int(input("Enter a second number: "))
    sum = n1 + n2
    print(f"The sum of {n1} and {n2} is {sum}")
    average = sum / 2
    print(f"The average of {n1} and {n2} is {average}")

Enter a first number: 5
Enter a second number: 6
The sum of 5 and 6 is 11
The average of 5 and 6 is 5.5
Enter a first number: 9
Enter a second number: 18
The sum of 9 and 18 is 27
The average of 9 and 18 is 13.5
Enter a first number: 0

# 11-Python Program to Print the Fibonacci sequence

The Fibonacci numbers are the numbers in the following integer sequence. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, â€¦â€¦.. In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation.


![image.png](attachment:image.png)

In [39]:
num = int(input("Enter the number of numbers: "))

if num <= 0:
    print("Please enter a positive number.")
else:
    a = 0
    b = 1

    print("The Fibonacci sequence:")
    for i in range(num):
        print(a, end=" ")
        next_num = a + b
        a = b
        b = next_num

Enter the number of numbers: 9
The Fibonacci sequence:
0 1 1 2 3 5 8 13 21

# Finding the Maximum Value in a List

In [40]:
lst = [1,2,3,4,5,9,11,0]
max = 0
for i in lst:
    if i > max:
        max=i
print('Max = ', max )

Max =  11

# Counting Vowels in a String

In [41]:
st = str(input())
vowels = ['a','e','i','o','u']
cnt = 0
for char in st:
    if char in vowels:
        cnt+=1
print('vowels count : ',cnt)

islam
vowels count :  2

# Finding Prime Numbers within a Range

In [42]:
n = int(input("Enter The max range : "))
prime = []
for num in range(2,n+1):
    isprime = True
    for i in range(2,num):
        if num % i == 0:
            isprime = False
            break
    if isprime:
        prime.append(num)
print(prime)

Enter The max range : 9
[2, 3, 5, 7]

# A Program that Simulating a Basic ATM Withdrawal

In [43]:
balance = 10000

print("Welcome to the ATM!")
print("Your balance is: $", balance)
while True:
    print("Choose operation : 1. Deposit 2. Withdraw 3. Check Balance 4. Exit")
    ch=int(input())
    if ch == 1:
        amount = float(input("Enter the amount to deposit: $"))
        balance += amount
        print("Deposit successful!")
        print("Your new balance is: $", balance)
    elif ch == 2:
        amount = float(input("Enter the amount to withdraw: $"))
        if amount > balance:
            print("Insufficient funds!")
            print("Your balance is: $", balance)
        else:
            balance -= amount
            print("Withdrawal successful!")
            print("Your new balance is: $", balance)
    elif ch == 3:
        print("Your balance is: $", balance)

    elif ch == 4:
        print("Thank you for using the ATM!")
        break
    else:
        print("Invalid choice!")
        print("Please choose a valid option.")

Welcome to the ATM!
Your balance is: $ 10000
Choose operation : 1. Deposit 2. Withdraw 3. Check Balance 4. Exit
1
Enter the amount to deposit: $500
Deposit successful!
Your new balance is: $ 10500.0
Choose operation : 1. Deposit 2. Withdraw 3. Check Balance 4. Exit
2
Enter the amount to withdraw: $20000
Insufficient funds!
Your balance is: $ 10500.0
Choose operation : 1. Deposit 2. Withdraw 3. Check Balance 4. Exit
2
Enter the amount to withdraw: $800
Withdrawal successful!
Your new balance is: $ 9700.0
Choose operation : 1. Deposit 2. Withdraw 3. Check Balance 4. Exit
3
Your balance is: $ 9700.0
Choose operation : 1. Deposit 2. Withdraw 3. Check Balance 4. Exit
4
Thank you for using the ATM!

# Finding Common Elements in Two Lists

In [44]:
lst1=[1,2,3,4,5]
lst2=[3,4,5,6,7]
common=[]
for i in lst1:
    if i in lst2:
        common.append(i)
print(common)

[3, 4, 5]

# Calculating Factorial of a Number

In [45]:
x = int(input())
factorial = 1
for i in range(1,x+1):
    factorial *= i
print(factorial)

6
720

# Validating User Input with While Loop

In [47]:
while True:
    age = int(input("Enter your age: "))
    if age < 0:
        print("Age cannot be negative. Please enter a valid age.")
    else:
        break  # Exit the loop if input is valid

print("Your age is:", age)

Enter your age: -1
Age cannot be negative. Please enter a valid age.
Enter your age: 55
Your age is: 55

# Finding the Sum of Digits of a Number

In [52]:
sum = 0
num = int(input())
while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print(sum)

88
16

# Checking for Palindrome Strings

In [54]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: eye
The string is a palindrome.

# Creating a Dictionary from Two Lists

In [55]:
dict = {}
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']
for i in range(len(lst1)):
    dict[lst1[i]] = lst2[i]
print(dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

# Simulating a Simple Password Check

In [57]:
password = "123456"
attempts = 3

while attempts > 0:
    user_input = input("Enter the password: ")
    if user_input == password:
        print("Access granted!")
        break
    else:
        attempts -= 1
        print("Access denied. Attempts left:", attempts)

Enter the password: 123456
Access granted!

# Generating a Multiplication Table for a Given Number

In [58]:
number = int(input("Input a number: "))

for i in range(1, 11):
  print(number, "x", i, "=", number * i)

Input a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90